LC_ALL=en_US.UTF-8

DATABASE_URL="postgresql://{{ postgres_client_user }}:{{ postgres_client_password }}@{{ postgres_client_host }}/{{ postgres_client_db }}"
CONN_MAX_AGE={{ sodar_core_app_conn_max_age }}

{% if sodar_core_app_email_enabled %}
PROJECTROLES_SEND_EMAIL=1
EMAIL_SENDER="{{ sodar_core_app_email_sender }}"
EMAIL_SUBJECT_PREFIX="{{ sodar_core_app_email_prefix }}"
EMAIL_URL="{{ sodar_core_app_email_url }}"
{% endif %}

DJANGO_ALLOWED_HOSTS="*"
DJANGO_SECRET_KEY="{{ sodar_core_app_django_secret_key }}"
DJANGO_SETTINGS_MODULE="config.settings.production"

{% if sodar_core_app_ldap.0.enabled %}
ENABLE_LDAP=1
AUTH_LDAP_SERVER_URI="{{ sodar_core_app_ldap.0.uri }}"
AUTH_LDAP_BIND_PASSWORD="{{ sodar_core_app_ldap.0.bind_password }}"
AUTH_LDAP_BIND_DN="{{ sodar_core_app_ldap.0.bind_dn }}"
AUTH_LDAP_USER_SEARCH_BASE="{{ sodar_core_app_ldap.0.user_search_base }}"
AUTH_LDAP_USERNAME_DOMAIN="{{ sodar_core_app_ldap.0.domain }}"
AUTH_LDAP_DOMAIN_PRINTABLE="{{ sodar_core_app_ldap.0.domain_printable }}"
{% endif %}

{% if sodar_core_app_ldap.1.enabled %}
ENABLE_LDAP_SECONDARY=1
AUTH_LDAP2_SERVER_URI="{{ sodar_core_app_ldap.1.uri }}"
AUTH_LDAP2_BIND_PASSWORD="{{ sodar_core_app_ldap.1.bind_password }}"
AUTH_LDAP2_BIND_DN="{{ sodar_core_app_ldap.1.bind_dn }}"
AUTH_LDAP2_USER_SEARCH_BASE="{{ sodar_core_app_ldap.1.user_search_base }}"
AUTH_LDAP2_USERNAME_DOMAIN="{{ sodar_core_app_ldap.1.domain }}"
AUTH_LDAP2_DOMAIN_PRINTABLE="{{ sodar_core_app_ldap.1.domain_printable }}"
{% endif %}

ENABLED_BACKEND_PLUGINS="{{ sodar_core_app_backend_plugins|join(",") }}"
PROJECTROLES_ADMIN_OWNER="{{ sodar_core_app_superuser }}"
PROJECTROLES_DEFAULT_ADMIN="{{ sodar_core_app_superuser }}"
PROJECTROLES_ALLOW_LOCAL_USERS={{ sodar_core_app_allow_local_users }}

CELERY_CHDIR="/srv/{{ sodar_core_app_name }}-web/{{ sodar_core_app_version }}"
CELERY_CREATE_DIRS="1"

PROJECTROLES_DISABLE_CDN_INCLUDES={{ 1 if sodar_core_app_disable_cdn_includes else 0 }}
PROJECTROLES_CUSTOM_JS_INCLUDES={{ sodar_core_app_custom_js_includes|map(attribute="served_as")|join(",") }}
PROJECTROLES_CUSTOM_CSS_INCLUDES={{ sodar_core_app_custom_css_includes|map(attribute="served_as")|join(",") }}
CUSTOM_STATIC_DIR={{ sodar_core_app_static_local }}

{{ sodar_core_app_systemd_env_snippet }}
