[Unit]
Description=Production version of {{ sodar_core_app_name }}-web
Requires=nginx.service
Wants=memcached.service
Before=nginx.service

[Service]
RuntimeDirectory={{ sodar_core_app_name }}
User={{ sodar_core_app_name }}
Group={{ sodar_core_app_nogroup_name }}
WorkingDirectory=/srv/{{ sodar_core_app_name }}-web/{{ sodar_core_app_version }}
EnvironmentFile=/etc/systemd/system/{{ sodar_core_app_name }}-env.sh
PIDFile=/var/run/{{ sodar_core_app_name }}/{{ sodar_core_app_name }}-web.pid
Type=forking
KillMode=process
Restart=always
ExecStart=/srv/{{ sodar_core_app_name }}-web/{{ sodar_core_app_version }}-venv/bin/gunicorn \
          config.wsgi \
          --group {{ sodar_core_app_nogroup_name }} \
          --timeout 300 \
          --user {{ sodar_core_app_name }} \
          --worker-class gevent \
          --workers 8 \
          --worker-connections 1000 \
          --bind={{ sodar_core_app_host }}:{{ sodar_core_app_port }} \
          --pid=/var/run/{{ sodar_core_app_name }}/{{ sodar_core_app_name }}-web.pid \
          --pythonpath=/srv/{{ sodar_core_app_name }}-web/{{ sodar_core_app_version }} \
          --error-logfile=/var/log/{{ sodar_core_app_name }}/{{ sodar_core_app_name }}-web.error \
          --daemon

[Install]
# When should this service be triggered? (this is the equivalent of SysV's runlevel 3)
WantedBy=multi-user.target
